* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url('./Images/UpdateCover.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Initialize Game Component */

#init-game-container {
  height: 400px;
  border: 5px double darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 8%;
}

.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  text-decoration: underline;
  margin-bottom: 20px;
}

#basic-addon3 {
  color: darkblue;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-control {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue !important;
  font-weight: bold;
}

#Input-container {
  border: 1px solid darkblue;
  border-radius: 5px;
}

#btn {
  width: 130px;
  background-color: blue;
  border: 2px solid darkblue;
  border-radius: 5px;
  outline: 0;
}

#btn:active {
  color: darkblue;
  background-color: white;
  border: 2px solid darkblue;
}

/* Initialize Game Component Completed */

/* Game Component */

#game-container {
  border: 5px double darkblue;
  margin-top: 1%;
  background-color: white;
  opacity: 0.8;
}

.game-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: darkblue;
  text-decoration: underline;
  margin-top: 10px;
}

.show-timer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: red;
}

.players-container {
  border: 2px solid silver;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.player1 , .player2 {
  background-color: blue;
  flex-grow: 1;
  color: white;
  text-align: center;
  line-height: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.rounds {
  background-color: red;
  flex-grow: 1;
  color: white;
  text-align: center;
  line-height: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

@media screen and ( max-width: 800px ) {
  .players-container {
      flex-direction: column;
  }
}

@media screen and ( max-width : 500px ) {
  .players-container {
      flex-direction: column;
  }
}

.winner {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: blue;
  margin-top: 10px;
  text-decoration: underline;
}

.game-over {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: red;
}

.user-selection {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: darkblue;
}

#choices {
  display: flex;
  flex-direction: row;
}

@media screen and ( max-width: 800px ) {
  #choices {
      flex-direction: column;
  }
}

@media screen and ( max-width : 500px ) {
  #choices {
      flex-direction: column;
  }
}

.fas {
  flex-grow: 1;
  text-align: center;
  border-left: 2px solid blue;
}

#Rock {
  border-left: none;
}

/* Hovering on Images / Icons */
#Rock:hover , #Paper:hover , #Scissor:hover {
  color: #2938F0;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Game Component Completed */

/* App completed Successfully */